name: Java CI with Maven

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 20
        uses: actions/setup-java@v2
        with:
          java-version: '20'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean install

      - name: Run tests
        run: mvn test

      - name: Generate test report
        run: mvn surefire-report:report

      - name: List target directory
        run: ls -R target/site

      - name: Upload test report
        uses: actions/upload-artifact@v3
        with:
          name: test-report
          path: target/site/surefire-report.html